{% extends "base.html" %}

{% block content %}
<h1>Робота з контейнерами Django</h1>
<i><font color="#2950FF"> Яловенко Володимир Вікторович | Кі-21012б. </font></i> <br>
<button type="button"><a href="{% url 'renters_create' %}">Додати орендаря</a></button>
<table>
  <tr>
    <th>Код</th>
    <th>Назва</th>
    <th>Дії</th>
    <th>Керівник</th>
    <th>Телефон</th>
  </tr>
  {% for renter in renters %}
  <tr>
    <td>{{ renter.id }}</td>
    <td>{{ renter.FirmName }}</td>
    <td>
      <button type="button" id="action-1"><a href="{% url 'renters_update' renter.pk %}">Update</a></button>
      <button type="button" id="action-2"><a href="{% url 'renters_delete' renter.pk %}">Delete</a></button>
    </td>
    <td>
      {{ renter.Owner}}
    </td>
    <td>{{ renter.PhoneNum}}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="2">Нема орендарів.</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
